.wrapp {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

@keyframes slide {
  from {
    transform: translateX(-700px);
  }
  to {
    transform: translateX(0px);
  }
}

.img {
  width: 400px;
  height: 600px;
  object-fit: cover;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  filter: brightness(1.2) contrast(1.1);
  animation: slide 1.5s ease-in-out 0s;
}

@keyframes inUpp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.textWrapp {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(100px);
  animation: inUpp 1.5s ease-out forwards;
}

.title {
  margin-bottom: 20px;
}

.titleSpan {
  color: yellowgreen;
}

.text {
  margin-bottom: 10px;
}

.span {
  font-weight: bold;
}
